/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Arima Madurai', cursive;
*/

html {
    min-height: 100%;
}

body {
    padding: 2.5em 0 2.5em 0;
    min-height: 100%;
    background: url('assets/iroh-avatar-light.png') center center no-repeat;
    background-size: auto 100%;
    background-position: top;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    margin-top: 2em;
}

#quoteBox {
    font-family: 'Arima Madurai', cursive;
    font-weight: 600;
}

button > img {
    width: 25%;
    height: auto;
}

.header-img {
    margin-top: 1em;
}

.img-responsive {
    width: 150px;
    height: auto;
}

.share-shuff {
    display: inline-block;
}

.footer {
    padding-top: 10px;
    color: #777;
}

.buttons {
    margin-bottom: 25px;
}